.colaborador {
    width: calc(50% - .5rem);
    padding: 1rem;
    box-sizing: border-box;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 70%); */
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.colaborador-imagen {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.colaborador-nombre {
    color: var(--primero);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .2rem;
}

.colaborador-puesto {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .colaborador {
        width: calc(25% - (3rem / 4));
    }
}

@media screen and (min-width: 1024px) {

}