.colaborador {
    width: calc(50% - .5rem);
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.colaborador-imagen {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.colaborador-nombre {
    color: var(--primero);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .2rem;
}

.colaborador-puesto {
    margin: 0;
}

.colaborador-eliminar {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

.colaborador-icono {
    margin-top: 1rem;
    width: 2rem;
    height: auto;
}

@media screen and (min-width: 768px) {
    .colaborador {
        width: calc(25% - (3rem / 4));
    }
}

@media screen and (min-width: 1024px) {

}