/* Colores */

:root {
  --primero: #6278F7;
  --segundo: #95FFD4;
  --tercero: #F2F2F2;
  --letra-clara: #A4A4A4;
  --letra-oscura: #212121;
}

body {
  margin: 0;
  font-family: 'Prata', serif;
  font-size: 16px;
  color: var(--letra-oscura);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}